@import "./variables", "./reset";
@import "../components/main/main.module.scss", 
"../components/header/header.module.scss";


body{
    background-color: $bgColor;
    background-image: url("../../public/bg-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}